asgiref==3.3.4
blessings==1.7
bpython==0.21
certifi==2020.12.5
chardet==4.0.0
curtsies==0.3.5
cwcwidth==0.1.4
Django==3.2.3
django-formtools==2.3
greenlet==1.1.0
idna==2.10
phonenumbers==8.12.24
psycopg2-binary==2.8.6
Pygments==2.9.0
pytz==2021.1
pyxdg==0.27
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
